body {
    /* font-family é herdado pelos decendetes */
    /* fallback = caso a fonte falhe, ele aplica uma padrão do sistema */
    font-family: "lato", sans-serif;
    color: white; /* é herdado */
    background-color: black; /*não é herdado*/ 
}

.codigo {
    font-family: monospace;
    color: rgb(142, 221, 142);
}


/* 
    Prioridade = css define quis propriedades serão aplicadas ou sobrescristas

    Ordem de prioridade: 
    inline > tag style > arquivo externo
    #id > .classe > seletor de tipo
*/

h1, h2, h3 {
    background-color: red;
    text-decoration: line-through;
}

.costom-h1 {
    background-color: aqua;
}

#meu-h1 {
    background-color: chartreuse;
}